<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Custom Interpolation Demo</h1></div>
        <div class="panel-body">
            <h4>Interpolation with knowledge of Object Structure by interpWithK() </h4>
            <div id="messageWithK"></div>
        </div>
        <div class="panel-body">
            <h4>Interpolation without knowledge of Object Structure by interpWithoutK() </h4>
            <div id="messageWithoutK"></div>
        </div>
    </div>
</div>
